// font size
mainTitleSize = 20px
plainTitleSize = 18px
smallTitleSize = 16px

plainTextSize = 14px
smallTextSize = 13px
extraTextSize = 12px

// color
mainColor = #409eff
successColor = #67c23a
warningColor = #e6a23c
dangerColor = #f56c6c
infoColor = #909399

mainTextColor = #303133
plainTextColor = #606266
extraTextColor = #909399
placeholderTextColor = #C0C4CC

border1 = #dcdfe6
border2 = #e4e7ed
border3 = #ebeef5
border4 = #f2f6fc

// radius
smallRadius = 2px
plainRadius = 4px
bigRadius = 30px

// box-shadow
plainBoxShadow = box-shadow 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
tintBoxShadow = box-shadow 0 2px 12px 0 rgba(0, 0, 0, 0.1)
